<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Properties>
        <Property name="LOG_DIR">logs</Property>
        <Property name="ARCHIVE_LOG_DIR">${LOG_DIR}/archive</Property>
        <Property name="ZIP_LOG_DIR">${LOG_DIR}/zip</Property>
        <Property name="pattern_file">[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} %M{1} - %msg%n</Property>
        <Property name="pattern_console">[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} %M{1} - %msg%n</Property>
    </Properties>

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${pattern_console}"/>
            <Filters>
                <MarkerFilter marker="FLOW" onMatch="DENY" onMismatch="NEUTRAL"/>
                <MarkerFilter marker="Exception" onMatch="DENY" onMismatch="ACCEPT"/>
            </Filters>
        </Console>

        <File name="FileLogger" fileName="${LOG_DIR}/text.log" bufferedIO="true">
            <PatternLayout pattern="${pattern_file}"/>
        </File>

        <RollingFile name="FileZip" fileName="${LOG_DIR}/text_arc.log" append="true"
          filePattern="${ZIP_LOG_DIR}/%d{yyyy-MM-dd}/%d{yyyy-MM-dd_HH-mm}_%i.log.zip">
            <PatternLayout pattern="${pattern_file}"/>
            <BurstFilter level="INFO" rate="16" maxBurst="100"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="10 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>

        <RollingFile name="FileRolling" fileName="logs/text_roll.log" append="true"
          filePattern="${ARCHIVE_LOG_DIR}/%d{yyyy-MM-dd}/%d{yyyy-MM-dd_HH-mm-ss}_%i.log">
            <PatternLayout pattern="${pattern_file}"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="10 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>
    </Appenders>

    <Loggers>
        <Logger name="Log_Console" level="debug" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
        <Logger name="Log_File" level="trace" additivity="false">
            <AppenderRef ref="FileLogger"/>
        </Logger>
        <Logger name="Zip_File" level="debug" additivity="true">
            <AppenderRef ref="FileZip"/>
        </Logger>
        <Logger name="Rolling_File" level="debug" additivity="false">
            <AppenderRef ref="FileRolling"/>
        </Logger>


        <Logger name="org.hibernate.SQL" level="debug" additivity="false">
            <AppenderRef ref="Console"/>
<!--        </Logger>-->
<!--        <Logger name="org.hibernate.type" level="trace" additivity="false">-->
<!--            <AppenderRef ref="Console"/>-->
        </Logger>


        <Root level="INFO">
            <!--            <AppenderRef ref="FileLogger"/>-->
            <!--            <AppenderRef ref="FileRolling"/>-->
            <!--            <AppenderRef ref="FileZip"/>-->
            <AppenderRef ref="Console" level="trace"/>
        </Root>
    </Loggers>
</Configuration>
